* {
    box-sizing: border-box;
    font-family: 'Helvetica';
}

body {
    background: black;
}

#banner {
    background-image: url("../images/kp2.jpg");
    background-size: cover;    
    height: 250px;
    color: deeppink;
    text-align: center;
}