* {
    box-sizing: border-box;
    font-family: 'Helvetica';
}

body {
    background: black;
}

#banner {
    background-image: url("../images/kp2.jpg");
    background-size: cover;    
    height: 250px;
    width: 850px;
    color: deeppink;
    text-align: center;
}


#cemental {
    background-image: url("../images/cemental1.jpg");
    background-size: cover;    
    height: 1468px;
    width: 1180px;
    color: deeppink;
    
}